
<main class="main">

  <!-- banner section -->
  <section id="home" class="home_section">
      <div class="main_container">
          <div class="align-items-center">
              <div class="banner_title">
                  <h1>Lorem ipsum doler amet</h1>
                  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut netus convallis ante ut mauris
                      viverra.</h3>
              </div>
              <div class="flex-container">
                  <img src="../../../../assets/images/banner-1.jpg" alt="banner_img-1" class="inner-image portrait">

                  <img src="{{url}}" alt="banner_img-2" class="inner-image landscape">
                  <img src="../../../../assets/images/banner-3.jpg" alt="banner_img-3" class="inner-image portrait">
              </div>
              <div class="banner_button">
                  <button class="banner_explore_button">
                      <span> New Collections </span>
                      <mat-icon>trending_flat</mat-icon>
                  </button>

              </div>
          </div>
      </div>
  </section>

  <!-- Categories section -->
  <section id='categories' class="categories_section">
      <div class="main_container">
          <div class="align-categories">
              <div class="nav_categories">
                  <span>OUR CATEGORIES</span>

                  <div class="categories_links">
                      <ul class="nav_list" id="nav_menu"  >
                          <li class="nav_items "><a  routerLinkActive="active"  [routerLink]="'myaccount'" [ngClass]="beauty"
                                  (mouseover)="hoverBeauty($event)" (mouseout)="hoverBeauty($event)" (mouseleave)="mouseLeave($event)"  >BEAUTY</a>
                              <mat-icon [ngClass]="beauty_arrow">arrow_forward</mat-icon>
                          </li>

                          <li class="nav_items" id="category"> <a  routerLinkActive="active"  [routerLink]="'myaccount'" [ngClass]="sports"
                                  (mouseover)="hoverSports($event)" (mouseout)="hoverSports($event)"  (mouseleave)="mouseLeave($event)"  >SPORT</a>
                              <mat-icon [ngClass]="sports_arrow">arrow_forward</mat-icon>
                          </li>

                          <li class="nav_items" id="category"><a  routerLinkActive="active"  [routerLink]="'myaccount'" [ngClass]="electronics"
                                  (mouseover)="hoverElectronics($event)"
                                  (mouseout)="hoverElectronics($event)"  (mouseleave)="mouseLeave($event)"  >ELECTRONICS</a>
                              <mat-icon [ngClass]="electronics_arrow">arrow_forward</mat-icon>
                          </li>

                          <li class="nav_items" id="category"> <a  routerLinkActive="active"  [routerLink]="'myaccount'" [ngClass]="fashion"
                                  (mouseover)="hoverFashion($event)" (mouseout)="hoverFashion($event)"  (mouseleave)="mouseLeave($event)"
                                  >FASHION</a>
                              <mat-icon [ngClass]="fashion_arrow">arrow_forward</mat-icon>
                          </li>

                          <li class="nav_items" id="category"> <a  routerLinkActive="active"  [routerLink]="'myaccount'" [ngClass]="household"
                                  (mouseover)="hoverHousehold($event)"
                                  (mouseout)="hoverHousehold($event)"  (mouseleave)="mouseLeave($event)"  >HOUSEHOLD</a>
                              <mat-icon [ngClass]="household_arrow">arrow_forward</mat-icon>
                          </li>

                          <li class="nav_items" id="category"><a  routerLinkActive="active"  [routerLink]="'myaccount'" [ngClass]="petsupply"
                                  (mouseover)="hoverPetSupplies($event)" (mouseout)="hoverPetSupplies($event)"  (mouseleave)="mouseLeave($event)"  >PET
                                  SUPPLIES</a>
                              <mat-icon [ngClass]="petsupply_arrow">arrow_forward</mat-icon>
                          </li>

                          <li class="nav_items" id="category"> <a  routerLinkActive="active"  [routerLink]="'myaccount'" [ngClass]="auto_moto"
                                  (mouseover)="hoverAutoMoto($event)" (mouseout)="hoverAutoMoto($event)"  (mouseleave)="mouseLeave($event)"  >AUTO-MOTO</a>
                              <mat-icon [ngClass]="auto_moto_arrow">arrow_forward</mat-icon>
                          </li>
                      </ul>
                  </div>


              </div>

              <div class="img_categories">

                  <mat-grid-list cols="2" rowHeight="200px" style="text-align: end;">
                      <mat-grid-tile [colspan]="1" [rowspan]="4" >
                          <img src="{{category1}}" alt="" class="category_img1" >

                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1" [rowspan]="2" >
                          <img src="{{category2}}" alt=""   class="category_img2">

                      </mat-grid-tile>

                      <mat-grid-tile [colspan]="1" [rowspan]="2" >
                          <img src="{{category3}}" alt=""   class="category_img3" >

                      </mat-grid-tile>
                  </mat-grid-list>
              </div>



          </div>
      </div>
  </section>


  <!-- offer-section -->


  <section class="offer_section" id="offer_section">

      <div class="main_container ">

          <span>WE RECCOMENDED</span>
          <h1>Offer Sale</h1>

          <owl-carousel-o [options]="offerOptions" #owlCat>
              <ng-container *ngFor="let img of offerSale">
                  <ng-template carouselSlide let-owlItem class="offer_curousal_imgs">
                      <img src="{{img.imgUrl}}" alt="{{img.alt}}">

                      <div class="offer_details">
                          <p>{{img.imgName}}</p>
                          <span>{{img.price}}</span>
                      </div>
                  </ng-template>
              </ng-container>

          </owl-carousel-o>




          <button class="offer_explore_button">
              Explore all
              <mat-icon>trending_flat</mat-icon>
          </button>

      </div>
  </section>

  <!-- collections section -->
  <section class='collections_section'>
      <div class="main_container">
          <div class="align-categories">
              <div class="Collections_text_container">
                  <h1 class="collection_title">VOUI 2021 Collection</h1>
                  <h2>Just for Him & Her</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sit consectetur nisi, donec quis. Lorem ipsum dolor sit amet,</p>
                  <button class="collection_explore_button">
                      Explore all
                      <mat-icon>trending_flat</mat-icon>
                  </button>
              </div>
              <div class="Collections_img_container">
                  <div>
                      <img src="../../../../assets/images/collections-1.jpg" alt="collections-1"
                          class="inner-image collection">
                  </div>
              </div>
          </div>
      </div>
  </section>


  <!-- new Arrivals section -->
  <section class="new_arrivals_section">

      <div class="main_container">
          <h1>New Arrivals</h1>
          <owl-carousel-o [options]="customOptions">

              <ng-template carouselSlide *ngFor="let img of newArraivals">

                  <img src="{{img.imgUrl}}" alt="{{img.alt}}" class="inner-image arrival_img">

                  <div class="offer_details">
                      <p>{{img.imgName}}</p>
                      <span>{{img.price}}</span>
                  </div>
              </ng-template>

          </owl-carousel-o>
          <button class="collection_explore_button">
              Explore all
              <mat-icon>trending_flat</mat-icon>
          </button>

      </div>
  </section>


  <!-- winter collection section -->
  <section class='session_collections_section'>
      <div class="main_container">
          <div class="align-categories">
              <div class=" Collections_img_container">
                  <div>
                      <img src="../../../../assets/images/winter_collection-1.jpg" alt="winter_collections-1"
                          class="inner-image collection">
                  </div>
              </div>
              <div class="Collections_winter_container">
                  <h1 class="collection_title">VOUI Winter Collection</h1>
                  <h2>Lorem ipsum doler amet</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sit consectetur nisi, donec quis. Lorem ipsum dolor sit amet,</p>
                  <button class="collection_explore_button">
                      Explore all
                      <mat-icon>trending_flat</mat-icon>
                  </button>
              </div>
          </div>
      </div>
  </section>


  <!-- free collection -->
  <section class='collections_section'>
      <div class="main_container">
          <div class="align-categories">
              <div class="Collections_free_container">
                  <h2>Lorem ipsum doler amet,
                      consectetur adipiscing elit.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sit consectetur nisi, donec quis. Lorem ipsum dolor sit amet,</p>
              </div>
              <div class="Collections_img_container">
                  <div>
                      <img src="../../../../assets/images/free_collection.jpg" alt="free-collections-1"
                          class="inner-image collection">
                  </div>
              </div>
          </div>
      </div>
  </section>



  <!-- bags trend section -->
  <section class="bags_section" id="bags_section">

      <div class="main_container">

          <span>WE RECCOMENDED</span>
          <h1>Bags on Trend</h1>
          <owl-carousel-o [options]="customOptions">

              <ng-template carouselSlide *ngFor="let img of bagsTrends">

                  <img src="{{img.imgUrl}}" alt="{{img.alt}}" class="inner-image arrival_img">

                  <div class="offer_details">
                      <p>{{img.imgName}}</p>
                      <span>{{img.price}}</span>
                  </div>
              </ng-template>

          </owl-carousel-o>
          <button class="collection_explore_button">
              Explore all
              <mat-icon>trending_flat</mat-icon>
          </button>

      </div>
  </section>

  <!-- contact section -->
  <section class='contact_section'>
      <div class="main_container">
          <div class="align-items-center">
              <h1>Enter the world of VOUI</h1>
              <div class="contact_form">
                  <form [formGroup]="contactForm" (submit)='submitContact()'>

                      <mat-form-field class="contact">
                          <mat-label>Enter the Email</mat-label>
                          <input type="text" matInput formControlName="Email">
                          <!-- <mat-error *ngIf="contactForm.controls['Email'].hasError('required')">Email Address is required</mat-error> -->
                          <button mat-button class="form_submit_button">Send &nbsp; <mat-icon>trending_flat</mat-icon>
                          </button>

                      </mat-form-field>

                  </form>
                  <h4 *ngIf='error'>{{error}}</h4>
                  <span>Hear about exclusive events, collections and news</span>
              </div>
          </div>

      </div>
  </section>





</main>
