<main class="main">


  <section class="preview_section" id="offer_section">

    <div class="items-center">
      <div class="imgShow product_tap">
        <mat-grid-list cols="3" rowHeight="200px" style="text-align: end;" >
          <mat-grid-tile [colspan]="1" [rowspan]="1" (click)="changelgImage(preview_sm1)" (mouseenter)="changelgImage(preview_sm1)" >
              <img src="{{preview_sm1}}" class="preview_sm1" >

          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="3" >
              <img src="{{preview_lg}}"    class="category_lg">
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1" (click)="changelgImage(preview_sm2)" (mouseenter)="changelgImage(preview_sm2)">
              <img src="{{preview_sm2}}" class="preview_sm1" >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1" (click)="changelgImage(preview_sm3)" (mouseenter)="changelgImage(preview_sm3)">
            <img src="{{preview_sm3}}" class="preview_sm1">
        </mat-grid-tile>
      </mat-grid-list>
      </div>
<div class="swiper_slider">
<div  class="category_lg">
  <img src="{{preview_lg}}" class="preview_lg" >
</div>
<div class="thumb_images">
  <img src="{{preview_sm1}}" class="preview_sm1" (click)='changePreviewImage(preview_sm1)' >
  <img src="{{preview_sm2}}" class="preview_sm2" (click)='changePreviewImage(preview_sm2)'>
  <img src="{{preview_sm3}}" class="preview_sm3" (click)='changePreviewImage(preview_sm3)'>
</div>

          </div>

      <div class="imgdetails">
        <h1>Gold necklaceFaux Pearl Decor Y Lariat Necklace</h1>
        <h2> <i *ngFor="let key of counter(3) " class="fa fa-star" style="color: var(--main-color);font-size: 16px; padding-right: 3px;"></i>
        <i *ngFor="let key of counter(2) " class="fa fa-star-o"  style="color: var(--main-color);font-size: 16px; padding-right: 3px;"></i>
        </h2>
        <h3>€12 </h3>

        <mat-tab-group mat-align-tabs="start" class="product_tap">
          <mat-tab label="First"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Nullam faucibus amet tristique commodo nibh proin.
             Laoreet integer odio pretium semper posuere in purus tristique fringilla.
             Suspendisse nibh massa malesuada tristique posuere. Enim ac tempus interdum egestas justo et.
             Elementum augue amet adipiscing in massa nec vel massa in.</p></mat-tab>
          <mat-tab label="Second"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Nullam faucibus amet tristique commodo nibh proin.
              Laoreet integer odio pretium semper posuere in purus tristique fringilla.
              Suspendisse nibh massa malesuada tristique posuere. Enim ac tempus interdum egestas justo et.
              Elementum augue amet adipiscing in massa nec vel massa in.</p></mat-tab>
          <mat-tab label="Third"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam faucibus amet tristique commodo nibh proin.
             Laoreet integer odio pretium semper posuere in purus tristique fringilla.
             Suspendisse nibh massa malesuada tristique posuere. Enim ac tempus interdum egestas justo et.
             Elementum augue amet adipiscing in massa nec vel massa in.</p></mat-tab>
        </mat-tab-group>
        <div class="choose_color">
           <span>Color &nbsp; &nbsp;</span>


            <mat-button-toggle-group class="choose_color">
              <mat-button-toggle *ngFor="let op of color"
                [value]="op" [style.background] ="op.color">
              </mat-button-toggle>
            </mat-button-toggle-group>

      </div>

      <div class="choose_size">
        <span>Size</span>

          <mat-button-toggle-group>
          <mat-button-toggle *ngFor="let subtask of size">
            {{subtask.name}}
          </mat-button-toggle>
          </mat-button-toggle-group>

    </div>
    <div  class="action_button">
      <button mat-button (click)="addtocart()" class="cart_button">ADD TO CART</button>
      <button mat-button (click)="gotoCheckout()" class="buy_button">BUY NOW</button>

</div>
</div>
</div>
  </section>

<section class="accordian_section">

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isFirst">


      <mat-expansion-panel-header>
        <mat-panel-title class="filter_title"> About Product</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="filter_body mat_panel">
       <p>{{aboutProduct}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isFirst">


      <mat-expansion-panel-header>
        <mat-panel-title class="filter_title"> Structure</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="filter_body mat_panel">
       <p>{{aboutProduct}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isFirst">


      <mat-expansion-panel-header>
        <mat-panel-title class="filter_title"> Delivery & Payments</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="filter_body mat_panel">
       <p>{{aboutProduct}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


</section>

  <section class="review_section">

    <div class="align-items-center">

        <div class='review_header'>Reviews</div>

        <div *ngFor="let product of products" >

        <owl-carousel-o [options]="customOptions"  >

          <ng-template carouselSlide  *ngFor="let reviewS of product.review" >

            <mat-card>

            <mat-card-title> {{reviewS.reviewerName}}</mat-card-title>
             <mat-card-subtitle>
              <i *ngFor="let key of counter(reviewS.rating) " class="fa fa-star" style="color: var(--main-color);font-size: 16px; padding-right: 3px;"></i>
              <i *ngFor="let key of counter(5-(reviewS.rating)) " class="fa fa-star-o"  style="color: var(--main-color);font-size: 16px; padding-right: 3px;"></i>
            </mat-card-subtitle>

            <mat-card-content>
              <p>
                {{reviewS.review }}
              </p>
            </mat-card-content>

             </mat-card>
          </ng-template>

      </owl-carousel-o>
</div>
    </div>


  </section>


  <section class="suggestion_section">

    <div class="align-items-center">

        <div class="suggestion_header" >You may also like</div>

        <owl-carousel-o [options]="suggestionOptions" >
          <ng-container *ngFor="let img of offerSale">
              <ng-template carouselSlide let-owlItem class="offer_curousal_imgs">
                  <img src="{{img.imgUrl}}" alt="{{img.alt}}">

                  <div class="offer_details">
                      <h4>{{img.imgName}}</h4>
                      <h4>{{img.price}}</h4>
                  </div>
              </ng-template>
          </ng-container>

      </owl-carousel-o>

    </div>


  </section>
</main>




