<main class="main">
  <section class="offer_section" id="offer_section">

    <div class="align-items-center">

      <h1 data-aos="fade-up" data-aos-duration="1000">My Orders</h1>

      <div class="Empty_cart_section">
        <img src="../../../../../assets/images/undraw_empty_re_opql (1).svg" alt="" data-aos="zoom-in-up" data-aos-duration="1500">
        <div class="undraw_content">
          <h1>Your Order history is empty. Starts adding Products</h1>
          <button class="custom-btn btn-11" (click)="navigateToHome()" data-aos="fade-down" data-aos-duration="1000">Let's Start<div class="dot"></div></button>
        </div>
        </div>
      <mat-card class="example-card for_desktop" *ngFor="let idx of count(2)">
        <div  data-aos="fade-right">
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </div>
        <div class="info">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Size:  {{size}}</mat-card-subtitle>
          <mat-card-subtitle>Color: {{color}}</mat-card-subtitle>
          <mat-card-subtitle>Price:{{price}}</mat-card-subtitle>
        </div>
        <div class="content">
          <mat-card-subtitle>Status</mat-card-subtitle>
          <mat-card-content>
            {{longText}}
          </mat-card-content>
        </div>
      </mat-card>

      <mat-card class="for_mobile"  *ngFor="let idx of count(4)">
        <mat-card-title-group>
          <mat-card-title>Gold necklaceFaux Pearl</mat-card-title>
          <mat-card-subtitle>Size:  {{size}}</mat-card-subtitle>
          <mat-card-subtitle>Color: {{color}}</mat-card-subtitle>
          <mat-card-subtitle>Price:{{price}}</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" data-aos="fade-right"  >
        </mat-card-title-group>
        <mat-card-content>
          <mat-card-subtitle>Status</mat-card-subtitle>
          {{longText}}
        </mat-card-content>
      </mat-card>

      </div>
      </section>
      </main>
