.main {
  background-color: #fffaf3;
  top: 0;
  padding: var(--section-padding);
}
.align-items-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.banner_curousal {
  margin: 50px 0;
}
mat-icon {
  vertical-align: middle;
}
h1 {
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  font-weight: 400;
  color: var(--main-color);
}
h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  font-weight: 400;
  color: var(--main-color);
}
span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.category_name {
  background: rgba(196, 196, 196, 0.8);
  position: absolute;
  top: 83.5%;
  padding: 15px 20px;
  width: 100%;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;

  color: #000000;
}
:host ::ng-deep.offer_section .owl-next,
:host ::ng-deep.offer_section .owl-prev {
  background: none;
  font-size: 25px;
  position: absolute;
  top: 40%;
  padding: 0;
  margin: 0;
  color: var(--black-color);
}
:host ::ng-deep.offer_section .owl-next {
  right: 34%;
}
:host ::ng-deep.offer_section .owl-prev {
  left: 36%;
}
:host ::ng-deep.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

:host ::ng-deep.owl-carousel .caption {
  text-align: center;
}

:host ::ng-deep .owl-carousel .owl-item.center {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 0 !important;
  flex: 0 0 auto !important;

  img {
    height: 400px;
  }
  .category_name {
    background: rgba(196, 196, 196, 0.8);
    position: absolute;
    top: 88%;
    padding: 15px 20px;
    width: 100%;
    font-family: Ogg;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;

    color: #000000;
  }
}

:host ::ng-deep .owl-carousel {
  justify-content: space-around;
  padding: 1em;
  img {
    height: 300px;
  }
}

:host ::ng-deep.offer_section .owl-next:hover {
  background-color: #815f46;
  opacity: 0.8;
  padding: 10px;
  border-radius: 50px;
  font-size: 25px;
  top: 38%;
  position: absolute;
  margin: 0;
  border-radius: 50px;
  right: 34%;
  opacity: 0.5;
}
:host ::ng-deep.offer_section .owl-prev:hover {
  background-color: #815f46;
  opacity: 0.8;
  padding: 10px;
  font-size: 25px;
  position: absolute;
  top: 38%;
  margin: 0;
  border-radius: 50px;
  left: 36%;
  opacity: 0.5;
}
.product_section {
  display: flex;
}
.filter_section {
  float: left;
  width: 20%;

  text-align: center;
}

.nav_path {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  text-transform: capitalize;
  color: #874c20;
  text-align: initial;
  mat-icon {
    vertical-align: middle;
    color: #000000;
  }
}
.filter_container {
  padding: 0 0 59px 0;
  background-color: #f3eee9;
}
.filter_title {
  display: inline-flex;
  padding: 0;
  letter-spacing: 1px;
  border: none;
  background-color: none;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #874c20;

  mat-icon {
    vertical-align: middle;
    color: #874c20;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

:host ::ng-deep.mat-expansion-panel {
  box-shadow: none;
}
:host ::ng-deep.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
:host ::ng-deep.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
:host ::ng-deep.mat-accordion .mat-expansion-panel {
  color: #000000;
  background-color: transparent;
}
:host ::ng-deep.mat-expansion-panel-body {
  padding: 0 24px 16px;
  text-align: initial;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 25px;
  margin-bottom: 2em;
  min-width: 250px;

  a {
    color: #000000;
    line-height: 35px;
  }
}
.toggle_body {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

:host ::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--main-color);
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: var(--main-color) !important;
}

// overwrite the ripple overlay on hover and click
::ng-deep
  .mat-checkbox:not(.mat-checkbox-disabled)
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: var(--main-color) !important;
}
::ng-deep.mat-checkbox-inner-container {
  height: 15px !important;
  width: 15px !important;
}
::ng-deep
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  line-height: 0 !important;
  padding: 0 !important;
}
.mat-button-toggle {
  border-radius: 15px !important;
  padding: 3px 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 15px;
  width: 80px;
}
.filter_body {
  margin: 10px 0;

}
:host ::ng-deep .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
}

.betweenKeyInputs {
  display: inline-flex;
  align-items: center;
  font: -webkit-small-control !important;
  span {
    font-size: 14px;
    font-weight: 500;
    margin: 0 2px;
  }
  ::ng-deep .mat-form-field-infix {
    width: auto !important;
  }
}
.inputPrimary {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 0 0 0 10px;
}
.betweenlable {
  margin: 0 5px;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
}
::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
::ng-deep .mat-form-field-infix {
  padding: 0;
  border-top: none;
}
::ng-deep .mat-expansion-indicator::after {
  color: var(--main-color);
}
.filter_submit_button {
  background: #ffbd8c;
  border-radius: 15px;
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  padding: 2px 30px;
  margin-top: 1em;

}
.form_container{
  margin-bottom: 2em;
}

// ===================product preview section ========================================
.preview_section {
  float: right;
  width: 80%;
  padding:0 0 0 1em;

  ::ng-deep[type=button]:not(:disabled), button:not(:disabled):before {
    cursor: pointer;
    color: var(--main-color) !important;
    text-align: end;


  }
}
::ng-deep.mat-paginator-page-size {
  display: none !important;

}
::ng-deep.mat-paginator-range-label {
  margin: 0 32px 0 24px;

  flex: 1 1 auto;
}
::ng-deep.mat-paginator-container {
  display: block !important;
  justify-content: space-around;
  padding: 0  !important ;
  flex-wrap: wrap-reverse;
  width: 100%;
  min-height: 0;
}
.mat-paginator {
  display: block;
  background-color: transparent;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
text-transform: capitalize;
color: #000000;

}


::ng-deep svg:before {
  overflow: hidden;
  vertical-align: middle;

}

.example-card {
  max-width: 400px;
  margin-top: 25px;
  img{
    object-fit: contain;
  }
}
.card-body {
  flex: 1 1 auto;
  padding: 5px;

}
.card{
  margin-bottom: 2em;
  cursor: pointer;
}
h5,h6{
  margin-bottom: 0 !important;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;


color: #000000;
}
.banner_explore_button{
  position: absolute;
right: 0;
mat-icon{
  font-size: 18px;
    background-color:#FFFAF3;
    border-radius: 69px;
    padding-top: 1px;
}
}


.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
   background: transparent !important;
   color: rgba(0,0,0,.87);
   padding: 0!important;
   .mat_button{
    padding: 0 !important;
  }
}
::ng-deep.mat-paginator-range-label {
  margin: 0 !important;
}
::ng-deep.mat-toolbar-single-row {
  height: 40px;
}
.row{
  margin-top: 1em;
}
::ng-deep.mat-snack-bar-container {
  min-width: 0 !important;
  margin-top: 3.7em !important;
  color: #ff4081;
}
::ng-deep.mat-simple-snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14px;
  opacity: 1;
}
