<main class="main">
  <section class="offer_section" id="offer_section">

    <div class="align-items-center">

      <h1>My Account</h1>
      <div class="personal_details">
        <div class="address_flex">
          <h2>CONTACT INFORMATION</h2>
          <button mat-button class="edit_button">Edit</button>
        </div>
<div class="example-container ">
        <mat-table  #table [dataSource]="dataSourceUser"  multiTemplateDataRows matSort>
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{columnHeaders[column]}} </mat-header-cell>

            <mat-cell *matCellDef="let element">
              <div class="mobile-label"> {{columnHeaders[column]}}</div>{{findColumnValue(element, column)}} </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        </div>
</div>


      <div class="address_details">
        <div class="address_flex">
          <h2>BILLING ADDRESS</h2>
          <button mat-button class="edit_button">Edit</button>
          </div>
          <div class="example-container">
          <mat-table  [dataSource]="dataSourceAddress" multiTemplateDataRows matSort>
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedAddress">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{columnAddress[column]}} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="mobile-label"> {{columnAddress[column]}}</div> {{findColumnValue(element, column)}} </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedAddress"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedAddress;"></mat-row>
          </mat-table>
          </div>

        </div>
      </div>

  </section>
</main>
