<mat-sidenav #rightSidenav mode="over" class="rightSidenav" [fixedInViewport]="true" [fixedTopGap]="0" style="right: 0;"
  position="end" class="xxx" hasBackdrop="false">

  <main class="main">
    <section class="offer_section" id="offer_section">

      <div class="align-items-center">
        <mat-toolbar class="toolbar_main">
          <h1>Cart</h1>

          <button mat-button class="mobile_menu mobile_icon " (click)="toggleRightSidenav()">
            <i class="fa fa-close"></i>
          </button>
          <button mat-mini-fab  (click)="toggleRightSidenav()"  class="for_desktop">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-toolbar>

<div class="Empty_cart_section">
<img src="../../../../../assets/images/shoppingCard_s.png" alt="">
<div class="undraw_content">
  <h1>Your Cart is Empty Start adding Products</h1>
  <button class="custom-btn btn-11" (click)="toggleRightSidenav(); navigateToHome()">Add New<div class="dot"></div></button>
</div>
</div>
        <div class="product_cart for_desktop" >
          <div class="product_list ">


            <div class="product_image">
              <img src="../../../../assets/images/banner-1.jpg" alt="">
            </div>
            <div class="product_details ">

              <div class="title_price">
                <div>
                  <h1>Lorem Ipsum</h1>
                </div>

              </div>
              <div class="size_color">
                <div>
                  <h2>Size: &nbsp;&nbsp; &nbsp;&nbsp;M</h2>
                </div>
                <div>
                  <h2>Color:&nbsp;&nbsp; &nbsp;Light Grey</h2>
                </div>
              </div>
              <div class="quantity_remove">
                <div>
                  <h3>quantity:
                    <button mat-mini-fab (click)="decrementValue()">
                      <mat-icon>remove</mat-icon>
                    </button>

                    <input id="quantity" min="1" max="5" type="number" [ngModel]="quantity"
                      (ngModelChange)="valueChange($event)" />

                    <button mat-mini-fab (click)="incrementValue()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </h3>
                </div>

              </div>
            </div>

            <div>
              <div>
                <h1>€68</h1>
              </div>
              <button mat-button class="action"> Remove</button>
            </div>

          </div>
          <div></div>
          <mat-divider class="header-divider"></mat-divider>

          <div class="additional_details for_desktop">
            <div class="sub_total">
              <h2>Subtotal</h2>
              <h4>€136</h4>
            </div>
            <div class="shipping">
              <h2>Shipping</h2>
              <h4>€0</h4>
            </div>

          </div>
          <mat-divider class="header-divider"></mat-divider>
          <mat-divider class="header-divider"></mat-divider>
          <div class="Total_amount for_desktop  ">
            <div class="sub_total">
              <h2>Total</h2>
              <h4>€136</h4>
            </div>

          </div>

          <div class="checkout_section  for_desktop">
            <button mat-button class="checkout_button" (click)="gotoUserinfo()">CHECKOUT</button>
          </div>
        </div>


        <div class="product_cart for_mobile" style="display: none;">
          <div class="product_list">


            <div class="product_image">
              <img src="../../../../assets/images/banner-1.jpg" alt="">
            </div>
            <div class="product_details">

              <div class="title_price">
                <div>
                  <h1>Lorem Ipsum</h1>
                </div>

              </div>
              <div class="size_color">
                <div>
                  <h2>Size: &nbsp;M</h2>
                </div>
                <div>
                  <h2>Color:&nbsp;Light Grey</h2>
                </div>
              </div>
              <div class="quantity_remove">
                Qty: &nbsp;&nbsp;
                <button mat-button class="mobile_menu" (click)="decrementValue()">
                  <mat-icon>remove</mat-icon>
                </button>

                <input matInput id="quantity" min="1" max="5" type="number" [ngModel]="quantity"
                  (ngModelChange)="valueChange($event)" />

                <button mat-button class="mobile_menu" (click)="incrementValue()">
                  <mat-icon>add</mat-icon>
                </button>


              </div>

              <div class="price_remove">
                <div class="price">$67</div>
                <button mat-button class="mobile_menu" (click)="decrementValue()">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>



          </div>

        </div>
        <mat-divider class="header-divider"></mat-divider>

        <div class="additional_details for_mobile">
          <div class="sub_total">
            <h2>Subtotal</h2>
            <h4>€136</h4>
          </div>
          <div class="shipping">
            <h2>Shipping</h2>
            <h4>€0</h4>
          </div>

        </div>
        <mat-divider class="header-divider"></mat-divider>
        <mat-divider class="header-divider"></mat-divider>
        <div class="Total_amount for_mobile  ">
          <div class="sub_total">
            <h2>Total</h2>
            <h4>€136</h4>
          </div>

        </div>

        <div class="checkout_section  for_mobile">
          <button mat-button class="checkout_button" (click)="gotoUserinfo()">CHECKOUT</button>
        </div>

      </div>
    </section>
  </main>
</mat-sidenav>
