<header class="for_desktop">
  <mat-toolbar class="toolbar_main">
    <div class="first_toolbar_left" data-aos="fade-right"  data-aos-duration="2000">
      <mat-form-field>

          <mat-select value="EUR" (selectionChange) ="changeCurrency($event.value)">

            <mat-option value="EUR">€ EUR</mat-option>
            <mat-option value="AUD">$ USD</mat-option>
            <mat-option value="EGP">£ pound </mat-option>
            <mat-option value="AED">د.إ AED </mat-option>
            <mat-option value="SAR">SR </mat-option>
          </mat-select>
</mat-form-field>

      <span class="example-spacer"></span>
      <mat-button-toggle-group >
        <mat-button-toggle value="france"  (click)="toggleLanguage('france')">FR</mat-button-toggle>
        <mat-button-toggle value="English"  (click)="toggleLanguage('English')">EN</mat-button-toggle>

      </mat-button-toggle-group>

    </div>
    <span class="example-spacer">
     </span>

    <div class="first_toolbar_right" data-aos="fade-left"  data-aos-duration="2000">

      <form [formGroup]="searchForm" class="header-search" (submit)="upsertSearch()" >
        <mat-form-field class="input_field">
         <input type="text" matInput formControlName="inputValue">
        </mat-form-field>

        <button type="submit" mat-button class="submit_button"> <mat-icon class="mat-5by1-white">search</mat-icon></button>
      </form>
      <button mat-button  [routerLink]="'/login'">LOGIN </button>
      <button mat-icon-button class="banner_explore_button"  [routerLink]="'settings/wishlist'" >
        <mat-icon>favorite</mat-icon>
      </button>


        <button mat-button  (click)="toggleRightSidenav();$event.stopPropagation();" matBadge="{{no_of_items}}" matBadgePosition="after">
        CART
    </button>



    </div>
  </mat-toolbar>
  <mat-divider class="header-divider"></mat-divider>
  <mat-toolbar class="toolbar_main">
    <div class="logo_container" [routerLink]="'dashboard'"  data-aos="zoom-in"  data-aos-duration="2500">
      <img src="../../../../assets/images/Logo_VOUI.svg" alt="Logo_VOUI"></div>
  </mat-toolbar>
  <mat-divider class="header-divider"></mat-divider>

  <div class="nav_menu "  (mouseleave)="ClosePanel()" data-aos="flip-left"  data-aos-duration="2000">
    <ul class="nav_list " id="nav_menu">

<li class="nav_items"><a  (mouseenter)="openBrandMenu($event,'offer')"  routerLinkActive="active"  [routerLink]="'offer'">OFFERS</a></li>

<li class="nav_items"><a routerLinkActive="active"  [routerLink]="'brand'">BRANDS</a></li>

<li class="nav_items"><a (mouseenter)="openBrandMenu($event,'beauty')"  routerLinkActive="active"  [routerLink]="'beauty'">BEAUTY</a></li>

<li class="nav_items"><a (mouseenter)="openBrandMenu($event,'fashion')"  routerLinkActive="active"  [routerLink]="'fashion'">FASHION</a> </li>

<li class="nav_items"><a (mouseenter)="openBrandMenu($event,'sports')"  routerLinkActive="active"  [routerLink]="'sport'">SPORT</a></li>

<li class="nav_items"><a (mouseenter)="openBrandMenu($event,'electronics')"  routerLinkActive="active"  [routerLink]="'electronics'">ELECTRONICS</a> </li>

<li class="nav_items"><a (mouseenter)="openBrandMenu($event,'houshold')"  routerLinkActive="active"  [routerLink]="'household'">HOUSEHOLD</a> </li>

<li class="nav_items"><a (mouseenter)="openBrandMenu($event,'petSupplies')"  routerLinkActive="active"  [routerLink]="'petsupply'">PET SUPPLIES</a> </li>

<li class="nav_items"> <a (mouseenter)="openBrandMenu($event,'autoMoto')"  routerLinkActive="active"  [routerLink]="'automoto'">AUTO-MOTO</a> </li>
    </ul>
    <mat-divider class="header-divider" ></mat-divider>


      <div  Class="show_mega_menu"  *ngIf="activeNode.length !==0">
        <div class="parent_sub_menu" >

          <div *ngFor="let element of activeNode">
           <button mat-button [routerLink]="element.path" class="nav_link" value="{{element.path}}"
                (mouseenter)="loadChild(element.path)"     [ngClass]="element.default && toggle_class == true ? 'red' : 'blue'" >{{element.path}}
                <mat-icon class="icon">arrow_forward</mat-icon>
                <mat-icon  *ngIf="element.default && toggle_class == true">arrow_forward</mat-icon>
              </button>

          </div>
        </div>
        <div class="child_sub_menu">
          <div  *ngFor="let child of childrenNode" >
          <div *ngFor="let children of child.children" class="column_allign">

            <button mat-button [routerLink]="child.path" class="nav_link ">{{children.name}}
              <mat-icon class="icon">arrow_forward</mat-icon>
            </button>
          </div>
          </div>

          <button mat-button class="offer_explore_button" *ngIf="activeNode.length !==0" [routerLink]="shopAll">
            shop all<mat-icon>trending_flat</mat-icon>
          </button>
        </div>



    </div>

  </div>

</header>

<mat-sidenav-container class="sidenav-container"  (click)="$event.stopPropagation();" >
  <mat-sidenav-content>
    <app-cart ></app-cart>
  </mat-sidenav-content>
</mat-sidenav-container>

<header class="for_mobile">

  <mat-toolbar class="toolbar_main ">
    <div  class="toggle_side_nav">
      <button mat-button  class="mobile_menu" (click)="drawer.open();$event.stopPropagation();">
        <i class="fa fa-bars"></i>
      </button>
    </div>



      <mat-drawer #drawer class="example-sidenav" mode="over" hasBackdrop="hasBackdrop.value" (click)="$event.stopPropagation();" >

        <mat-toolbar class="toolbar_main">
          <div class="login_banner">
            <i class="fa fa-user-circle " aria-hidden="true"></i>
            &nbsp;
            <button mat-button class="login_button_nav">
              <a routerLinkActive="active"  [routerLink]="'login'" (click)="drawer.close()">Login</a>

            </button>
          </div>
          <button mat-button  class="mobile_menu" (click)="drawer.toggle()">
            <i class="fa fa-close"></i>
          </button>

        </mat-toolbar>
        <ul class="nav_list " id="nav_menu">

          <li class="nav_items"><a routerLinkActive="active"  [routerLink]="'dashboard'" >Home</a></li>

          <li class="nav_items"><a routerLinkActive="active"  [routerLink]="'offer'" >Offers</a></li>

          <li class="nav_items"><a routerLinkActive="active"  [routerLink]="'brand'" >Brands</a></li>

          <li class="nav_items"><a  routerLinkActive="active"  [routerLink]="'beauty'" >Beauty</a></li>

          <li class="nav_items"><a  routerLinkActive="active"  [routerLink]="'fashion'" >Fashion</a> </li>

          <li class="nav_items"><a  routerLinkActive="active"  [routerLink]="'sport'" >Sport</a></li>

          <li class="nav_items"><a   routerLinkActive="active"  [routerLink]="'electronics'" >Electronics</a> </li>

          <li class="nav_items"><a  routerLinkActive="active"  [routerLink]="'household'" >Household</a> </li>

          <li class="nav_items"><a  routerLinkActive="active"  [routerLink]="'petsupply'" >Pet supply</a> </li>

          <li class="nav_items"> <a  routerLinkActive="active"  [routerLink]="'automoto'" >Auto-moto</a> </li>
              </ul>


                <div class="nav_list  " id="nav_menu">
                  <div class="language">
                    <span>Language</span>
                    <mat-label class="switch">
                      <input type="checkbox">
                    </mat-label>
                  </div>

                  <div class="currency">
                    <span>Currency</span>

                  <mat-form-field>
                    <mat-select (selectionChange)="changeCurrency($event.value)">

                      <mat-option value="EUR">EUR</mat-option>
                      <mat-option value="AUD">AUD</mat-option>
                      <mat-option value="EGP">EGP</mat-option>
                      <mat-option value="AED">AED</mat-option>
                      <mat-option value="SAR">SAR</mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>

                  </div>


              <ul class="nav_list " id="nav_menu">

                <li class="nav_items"><a  routerLinkActive="active"  [routerLink]="'settings/myaccount'">
                  <i class="fa fa-user" aria-hidden="true" ></i>My Account</a> </li>

                <li class="nav_items"><a routerLinkActive="active"  [routerLink]="'settings/orders'">
                  <i class="fa fa-cart-plus" aria-hidden="true"></i>My Orders</a></li>

                <li class="nav_items"><a routerLinkActive="active"  [routerLink]="'settings/wishlist'">
                  <i class="fa fa-heart" aria-hidden="true" ></i>My Wishlist</a></li>

                  <li class="nav_items"><a  routerLinkActive="active"  [routerLink]="'login'">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a> </li>
                </ul>
                  </mat-drawer>


    <div class="logo_container " [routerLink]="'dashboard'">
      <img src="../../../../assets/images/Logo_VOUI.svg" alt="Logo_VOUI">
    </div>

    <div class="toggle_side_nav">
      <button mat-button  class="mobile_menu" (click)="toggleRightSidenav();$event.stopPropagation();">
        <i class="fa fa-shopping-cart"></i>
      </button>

    </div>
  </mat-toolbar>

</header>
<div id="google_translate_element"></div>

