<header>
  <mat-toolbar class="toolbar_main">
    <div class="first_toolbar_left">
      <form [formGroup]="form" class="form">
        <mat-form-field> 
          <mat-select formControlName="currency">
            <mat-option value="Euro">€ EUR</mat-option>
            <mat-option value="doller">$ USD</mat-option>
            <mat-option value="Sterling">£ pound </mat-option>
            <mat-option value="UAE Dirham">د.إ AED </mat-option>
            <mat-option value="Saudi Riyal">SR </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
          <span class="example-spacer"></span>
            <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
                <mat-button-toggle value="France">FR</mat-button-toggle>
                <mat-button-toggle value="English">EN</mat-button-toggle>
            </mat-button-toggle-group>
          
    </div>
    <span class="example-spacer"></span>
    <div class="first_toolbar_right">
           <button mat-button>SEARCH</button>
           <button mat-button>LOGIN</button>
           <button  mat-icon-button class="banner_explore_button">
              <mat-icon>favorite_border</mat-icon>
           </button>
          <button mat-button >CART</button>
          <button mat-mini-fab>
            {{no_of_items}}
          </button>
 
    </div>
  </mat-toolbar>
  <mat-divider class="header-divider"></mat-divider>
  <mat-toolbar class="toolbar_main">
    <div class="logo_container"><img src="../../../../assets/images/Logo_VOUI.svg" alt="Logo_VOUI"></div>
  </mat-toolbar>
  <mat-divider class="header-divider"></mat-divider>

  <nav class="nav_menu">
    <ul class="nav_list" id="nav_menu">

        <li class="nav_items"><a  mat-button [routerLink]="'/accounts'"
                class="nav_link ">OFFERS</a></li>

        <li class="nav_items"><a mat-button [routerLink]="'/accounts'"
                class="nav_link ">BRANDS</a> </li>

        <li class="nav_items"><a  mat-button [routerLink]="'/accounts'"
                class="nav_link ">BEAUTY</a> </li>

        <li class="nav_items"> <a  mat-button [routerLink]="'/accounts'"
                class="nav_link ">FASHION</a> </li>

        <li class="nav_items"> <a  mat-button [routerLink]="'/accounts'"
                class="nav_link ">SPORT</a> </li>

        <li class="nav_items"><a mat-button [routerLink]="'/accounts'"
                class="nav_link ">ELECTRONICS</a> </li>

        <li class="nav_items"> <a  mat-button [routerLink]="'/accounts'"
                class="nav_link ">HOUSEHOLD</a> </li>

        <li class="nav_items"><a  mat-button [routerLink]="'/accounts'"
                  class="nav_link ">PET SUPPLIES</a> </li>
  
        <li class="nav_items"> <a mat-button [routerLink]="'/accounts'"
                  class="nav_link ">AUTO-MOTO</a> </li>
    </ul>

</nav>

<mat-divider class="header-divider"></mat-divider>

</header>