
@media screen and (min-width: 1200px) {
header {
    background-color: var(--backgroud-color);;
    position: sticky;
    top: 0;
    z-index: 999;
    text-transform: uppercase;
    a {
        text-decoration: none;
        font-weight: 500;
        color: #000000;
        cursor: pointer;
      }
      a:hover {
        text-decoration: none;
        font-weight: 600;

        color: #763301;
        cursor: pointer;
  
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
      }
      li::marker {
        list-style-type: none;
    }
    .toolbar_main, .toolbar_nav {
        background: #FFFAF3;
        border: 0.15px solid #f3e4d8;
        box-sizing: border-box;
        border: none;
        display: flex;
        padding: 0 3%;
    }
    .toolbar_main{
        height: 2.5em;
        justify-content: center;
    }
    .toolbar_nav, .nav_list{
        height: 5em;
        display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 3%;
margin-bottom: 0;

    }
    .header-divider{
        color: #763301;
      }
    .first_toolbar_left{
        display: flex;
        float: left;
        align-items: center;
        justify-content: space-between;
        column-gap: 1em;
    }
    .first_toolbar_right{
        display: flex;
        float: right;
        align-items: center;
    }
    .example-spacer {
        flex: 1 1 auto;
      }
      .lang_toggle{
          column-gap: 1%;
      }
      .spacer{
          width: 1%;
      }
    }

:host ::ng-deep.mat-button-toggle-group-appearance-standard {

        border-radius: 4px;
        border: none !important;
        background-color: transparent;
    }
:host ::ng-deep.mat-button-toggle-appearance-standard {
         color: rgba(0,0,0,.87); 
         background: none; 
         font-size: 15px;
         font-weight: 500;
    }
:host ::ng-deep .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
        border-left:none;
        font-weight: 500;
    }
:host ::ng-deep.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        padding: 0 5px;
        font-weight: 500;
        font-size: 13px;
        line-height: 0;
    }
    
:host ::ng-deep.mat-form-field-infix {
       
        width: 5em;
    }
:host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
     display: none;
    }

:host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0.8em;
        font-size: 15px;
    }
    :host ::ng-deep.mat-select-value {
   color: var(--black-color);
        font-weight: 500;
    }
:host ::ng-deep.mat-mini-fab{
    width: 25px;
    height: 25px;
    line-height: 0;
    background-color: var(--black-color);
    font-size: 13px;
} 
:host ::ng-deep.mat-mini-fab .mat-button-wrapper {
    padding: 13px 0;
    display: inline-block;
   line-height: 0; 
}
.form{
        text-align: center;
        justify-content: center;
        align-items: center;
}

.card_list_number{
    color: var(--white-color);
    border-radius: 59px;
    background-color: var(--black-color);
    font-size: 10px;
    padding: 3px 8px;
    top: 2px;
}

.mat-button{
    font-weight: 500;
    font-size: 13px;
     color: #000000;
}
.mat-button:hover{

    color: var(--main-color);
    background-color: transparent !important;
    font-weight: 500;
}

.mat-badge-content {
    color: #fff;
    background: var(--black-color);
}
.nav_items {
    position: relative;
    margin:0 1%;
    justify-content: space-between;
  }
  .logo_container img{
      padding: 2px 0;
  }

}
.hide_mega_menu{
display: none;
   
}


.hide_mega_menu{
   display: none;
   content: '';
}
.show_mega_menu{
    padding:3em 3%;
    display: flex;
    background-color: #FFFAF3;
    width: 100%;  
    justify-content: center;
    transform: all 2s ease;

    margin: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.12);;
}

.parent_sub_menu{
    width: 30%;
    .nav_link{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 22px;

margin: 8px 0;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
    }
    .nav_link:hover{
        font-family: ogg;
        color: #763301;
        background-color: transparent;
        font-size: 24px;
        border-bottom: 1px solid #815F46;
       
    }

}

.child_sub_menu{
    width: 70%;
    column-count: 2;
    column-fill: auto;

    text-transform: uppercase;
    .nav_link{
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0;
    padding: 0;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #000000;
        }
.nav_link:hover{
    font-family: ogg;
    color: #763301;
    background-color: transparent;
    font-size: 20px;
    border-bottom: 1px solid #815F46;
}
}
.offer_explore_button {
    background:#815F46;
    border: none;
    font-weight: normal;
    line-height: 24px;
    color:#F9F3F1;
    padding:4px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
  .offer_explore_button .span {
    font-size: 16px !important;
    color:#F9F3F1;
  }
  .mat-icon {
    vertical-align: middle;
  }
