
h5,h6{
  margin-bottom: 0 !important;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #000000;
display: inline-block;
min-width: 180px;
white-space: nowrap;
overflow: hidden !important;
text-overflow: ellipsis;
}

.banner_explore_button{
  position: absolute;
right: 0;

mat-icon{
  font-size: 18px;
    background-color:#FFFAF3;
    border-radius: 50%;
    box-shadow:
		0 0 5px rgba(177, 146, 116, 0.5),
		0 0 15px rgba(134, 110, 170, 0.3);

}
}

.card{
  margin-top: 2em;
  cursor: pointer;
  background-color: #F3EEE9;
}

.card-body {
  flex: 1 1 auto;
  padding: 5px;
  max-height: 90px;
  display: flex;
  flex-direction: column;

}

.col-6,.col-lg-4{
  padding:0 1%;


}
@media only screen  and (min-width:769px){
.preview_section {
  float: right;
  width: 100%;
  padding:0 0 0 1em;

  ::ng-deep[type=button]:not(:disabled), button:not(:disabled):before {
    cursor: pointer;
    color: var(--main-color) !important;
    text-align: end;


  }
}



.example-spacer {
  flex: 1 1 auto;
}


::ng-deep.mat-snack-bar-container {
  min-width: 0 !important;
  margin-top: 3.7em !important;
  color: #ff4081;
}
::ng-deep.mat-simple-snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14px;
  opacity: 1;
}
h1{
  font-family: Ogg;
font-style: normal;
font-weight: normal;
font-size:40px;
line-height: 77px;
text-transform: capitalize;
margin-left: 20px;
color: #000000;
margin-bottom: 0;

}
}
@media only screen  and (max-width:768px){

  .main{
   padding: 2em 16px;
  }


  .for_desktop{
    display: none;
  }

  h1{
    font-family: Ogg;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .mat-card-title{
    line-height: 30px;
    color: #763301;
    font-size: 18px;
  }
  .mat-card-subtitle{

    font-size: 14px;
    line-height: 20PX;


  }

h5,h6{
  font-size: 16px;
  line-height: 25px;
  min-width: 150px;
}
b{
  color: #763301;
}

.card{
box-shadow:
0 0 5px rgba(177, 146, 116, 0.5),
0 0 15px rgba(134, 110, 170, 0.3)
;
}
.preview_section{
  margin-top: 1.5em;
}

.row{
  margin-top: 1em;
}
}
